body {
    font-family: sans-serif;
    line-height: 1.5;
}

main {
    max-width: 70ch;
    padding: 2em 3vw 2em;
    margin: 0 auto;
}

nav {
    margin-bottom: 2em;
}

nav menu {
    margin: 0;
    padding: 0;
}

nav menu li {
    display: inline;
}

nav menu a {
    background: black;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0.5em;
    margin-right: 0.5em;
}

pre,
code {
    font: 14px monospace;
    line-height: 1.25;
}

pre code {
    padding: 8px 16px;
    overflow-x: auto;
    display: block;
    background: #eee;
    color: black;
    white-space: pre;
    word-wrap: normal;
}

p {
    text-align: justify;
}

blockquote {
    quotes: '“' '”';
    font-style: italic;
    margin: 0;
    border-left: 8px solid lightgray;
    background: #eee;
    padding: 1em 2em;
}

blockquote p:first-child {
    margin: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

/* normalize the user agent stylehseet a little bit */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0;
    margin-top: 2em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
}

h5 {
    font-size: 0.6em;
}

h6 {
    font-size: 0.4em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: black;
}

/* article related garbage */
header {
    margin: 2em 0;
}

header h1 {
    margin: 0em;
    font-size: 2em;
}

p code,
li code,
samp,
kbd {
    color: black;
    background: #eee;
    padding: 2px 4px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

article header time {
    display: inline-block;
}

/* posts list stuff */
ul.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.posts li {
    margin-bottom: 0.5em;
}

ul.posts li:last-child {
    margin-bottom: 0;
}

ul.posts a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

ul.posts time {
    display: block;
    padding-right: 0.5em;
}

/* misc stuff */
.caption {
    text-align: center;
    font-style: italic;
    width: 90%;
    margin: 1em auto;
}

div.footnotes li:target {
    background: lightblue;
}

.footnotes {
    background: #eee;
    margin-top: 2em;
    padding: 1em 2em;
}

.footnotes ol {
    padding-left: 1em;
}

sup,
sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub {
    top: 0.4em;
}

abbr[title],
acronym[title] {
    text-decoration: none;
    border-bottom: 1px dashed black;
    cursor: help;
}

@media print {
    main {
        max-width: 100%;
        margin: 0;
    }

    pre code {
        font-size: 16px;
        white-space: pre-wrap;
        color: black;
        background: none;
    }

    pre,
    code,
    samp,
    kbd {
        color: black;
    }
}

.highlight .c1 {
    font-style: italic;
    color: #aaa;
}

.highlight .nf,
.highlight .nc {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}